#about {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#about-img {
   width: 80%; 
   height: 50%;
   object-fit: cover;
   margin-top: 5vh;
   border-radius: 10px;
}

#about-text {
    inline-size: 80vw;
    overflow-wrap: break-word;
}